include ../screenreader/screenreader
include ../link/link

mixin nav(data, classList, isExtend)
    -classList = classList || {}

    +b.NAV.nav(class=(isExtend ? 'nav-extend_block' : ''))&attributes(attributes)
        if !data.title
            +screenreader()
                | #{data.screenreader || 'Навигация'}
        else
            +e.H2.title
                +e.link.link(href=data.title.href)= data.title.text
            
        +e.UL.menu
            if data.items
                each item in data.items
                    +e.item(class=[(item.active ? '_active' : ''), classList.itemClass])
                        +link({ href: item.href }).nav__link(class=item.mod || '')
                            | #{item.text}

                        if item.subitems

                            if isExtend

                                .nav-extend__trigger

                            +e.UL.submenu.dropdown_rel._pad-open

                                each subitem in item.subitems
                                    +e.subitem(class=[(subitem.active ? '_active' : ''), classList.subitemClass])
                                        +link({ href: subitem.href }).nav__sublink
                                            | #{subitem.text}

        block
