include ../photo/photo

mixin list(data)
    +b(data.tag == 'ol' ? 'ol' : 'ul').list()&attributes(attributes)

        each item in data.list
            if data.tag == 'ol'
                +e.LI.item

                    if item.linkArr
                        -var linkText = ''

                        each part in item.linkArr

                            if part.selected
                                -linkText += '<span class="found">' + part.text + '</span>'
                            else
                                -linkText += '<span class="list__text-base">' + part.text + '</span>'

                        +e.title.link(href=jv0)
                            +e.link-text !{linkText}

                    else if item.link
                        +e.title.link(href=jv0)
                            +e.link-text= item.link



                    if item.textArr
                        -var contentText = ''

                        each part in item.textArr

                            if part.selected
                                -contentText += '<span class="found found_text-s">' + part.text + '</span>'
                            else
                                -contentText += '<span class="list__text-base">' + part.text + '</span>'

                        +e.content !{contentText}

                    else if item.text
                        +e.content= item.text

                    else if item.subtitle
                        +e.subtitle= item.subtitle

            else
                if data.type == 'img'

                    +e.item(class=item.itemClass)
                        +photo(item)(class=['_no-animate', '_theme_simple', item.photoClass])

                        if item.text
                            +e(class=(['__content', item.textClass]))= item.text

                else
                    if data.type == 'check'
                        +e.LI.item
                            +icon({ icon: 'check', class: 'list__check' })
                            +e.content= item.text

                    else if data.type == 'roll'
                        +e.LI.item
                            +icon({ icon: 'roll', class: 'list__roll' })
                            +e.content= item.text

                    else
                        if item.text
                            +e.LI.item= item.text

