include ../icon/icon

mixin line(data)
    +b.line(class={ '_css': data.type === 'css' })&attributes(attributes)

        if data.type === 'css'
            +e.icon_static
            +e.icon_active

        else
            +e.SVG.icon_static(xmlns="http://www.w3.org/2000/svg" viewBox=data.viewBox)
                path(d=data.svg transform=data.transform)
            +e.SVG.icon_active(xmlns="http://www.w3.org/2000/svg" viewBox=data.viewBox)
                path(d=data.svg transform=data.transform )

        block
