include ../screenreader/screenreader

mixin logo(data)

    +b.logo(href=data.href)&attributes(attributes)
        if data.picture
            -var picture = data.picture
            +e.PICTURE.img-wrapper
                each img in picture
                    source(srcset=img.src media=img.media)
                +e.IMG.img(src="#", alt=data.alt  title=data.title)
        else
            +e.IMG.img(
                class=(data.mod ? `_${data.mod}` : '') 
                src=`${data.src}.${data.ext}` 
                srcset=(data.srcset ? `${data.src}@2x.${data.ext} 2x` : false) 
                alt=data.alt  
                title=data.title)

        if data.screenreader
            +screenreader()= data.screenreader
